<% if @skills.present? %>
  <%= render 'filters' %>
  <%= render 'table' %>
  <div class="container">
    <div class="pagination_wrap">
      <%= paginate @skills %>
    </div>
  </div>
<% else %>
  <%= render 'filters' %>
  <div class="text-center fw-bold"> No Skills Found! </div>
<% end %>