<% if @skills.present? %>
  $(".experience-select").empty().append("<%= escape_javascript(render(:partial => @skills)) %>")
<% else %>
  $(".experience-select").empty().append("<option>Select experience</option>")
<% end %>