<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
    </button> <%= link_to "Opti-Scraper", root_path, class: 'navbar-brand' %>
    <% if current_user %>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav mr-auto">
          <li class='nav-item'><%= link_to 'Scraper', records_path, class: 'nav-link' %></li>
          <li class='nav-item'><%= link_to 'Skills', skills_path, class: 'nav-link' %></li>
          <li class='nav-item pull-right'><%= link_to "Logout", logout_path, class: "btn btn-danger" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>